body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
}

p {
	margin-bottom: 1em
}

h1 {
	font-size: 1.5em;
}

h2 {
	font-size: 0.8em;
}

h1, h2 {
	text-align: center;
}

h3 {
	text-align: right;
}

h4 {
	text-indent: 5em;
	margin-bottom: 1.5em;
}

a {
	color: inherit;
	text-decoration: none;
}

h3 a {
	text-decoration: underline;
}

a:hover,
a:focus {
	color: red;
}

.header {
	font-family: Courier, monospace;
	margin: 2em 1em;
}

ul.nav {
	list-style-type: none;
	text-align: center;
}

ul.nav li {
	display: inline-block;
	margin: 0 .5em;
}

.container {
	width: 100%;
	max-width: 720px;
	margin: 0 auto;
	padding: 0 1.5em;
}

.footer {
	font-family: Courier, monospace;
	text-align: center;
	font-size: 0.85em;
	margin-top: 6em;
	margin-bottom: 2em;
}

/* media query applies rules to devices with a screen size of 650px or less */
@media (max-width: 650px) {
	h3 {
		margin: 0.5em auto;
	}

	h4 {
		text-indent: 0;
		text-align: center;
	}
}
